@media (width > 991px){
    .home__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
    }
    .home__data{
        text-align: initial;
    }
    .home__img img{
        width: 400px;
    }
    .home__shadow{
        width: 250px;
        height: 40px;
    }
    .container2{
        margin-left: auto;
        margin-right: auto;
    }
    .card_img{
        max-width: 100%;
        object-fit: scale-down;
    }
    .container_info_product{
        display: inline-block;
        
    }
    .container_img{
        width: 500px;
        height: auto;
    }
}
@media (width < 991px){
    .page_product{
        display: block;
    }
    .container_img{
        width: 100%;
        height: auto;
    }
    .container_info_product{
        display: inline-block;
        padding: 20px;
    }
    .card_list_products{
        display: grid;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .card_img{
        max-width: 100%;
        object-fit: scale-down;
    }
}
@media (width < 800px){
    .card_list_products{
        width: 75%;
        display: flex;
        flex-direction: column;
    }
}
@media (width > 768px){
    #productos figure{
        width: 50%;
        img{
            height: 500px;
        }
    }
    .iframe{
      position: relative;
      
    }
    footer{
        width: 100%;
    }
}  
@media (width < 768px){
    nav{
        flex-direction: column;
    }
    #ingredientes figure{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
    }
    #productos{
        flex-direction: column;
        align-content: center;
        figure{
            width: 100%;
            flex-wrap: wrap;
        }
    }
    .promos figure{
        width: 100%;
        flex-wrap: wrap;
        img{
            max-width: 100%;
            object-fit: cover;
        }
    }
    footer{
        width: 100%;
    }
    #about .contenedor h1{
        padding-top: 30px;
    }
    #about .contenedor p{
        width: auto;
        padding: 10px 20px;
    }
    #about{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "contenedor"
        "about2"
        "about3";
    }
    .iframe{
        position: flex;
        flex-wrap: wrap;
    }
}
@media (width < 490px){
    .card{
        width: auto;
    }
    .info_card{
        display: flex;
        flex-direction: column;
    }
    .price{
        padding-left: 60px;
    }
}
@media (width < 344px){
    .home__img img{
        width: 160px;
    }
}
@media (width < 336px){
    .botonera{
        position: relative;
        padding: 6px 0px;
    }
    .images{
        width: 80px;
        height: 75px;
    }
}