// // extends
//.bt-gral{
//    width: 200px;
//    height: 30px;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    padding: 4px 8px;
//    background-color: $mainColor;
//}

//.bt-rounded{
//    @extend.bt-gral;
//    border-radius: 4px;
//

// // mixin
//@mixin textos($size,$line,$color,$padding){
//    font-size: $size; //variable local
//    line-height: $line; //variable local
//    color: $color; //variable local
//    padding: $padding; //variable local
//    font-family: $mainFont; //variable global
//    @if $align == center{text-align: center;}
//    @else if $align == left{text-align: left;}
//    @else if $align == right{text-align: right;}
//}

//.text-tienda{
//    @include textos(1.1em, 1.4em, black, 10px)
//}

//@mixin flex($dire,$justify,$align,$wrap){
//display: flex;
//    flex-direction: $dire;
//    justify-content: $justify;
//    align-items: $align;
//    flex-wrap: $wrap;
//}

//.box-one{
//    @include flex(row. center. flex-end, wrap)
//}