// extend
.btn_add_to_cart{
    border: none;
    border-radius: 35px;
    padding: 10px;
    color: $keyColor;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
    :hover{
        background-color: $mainColor;
    }
}

.btn_promo{
    @extend .btn_add_to_cart;
    background-color: orangered;
    color: $white;
    :hover{
        background-color: $keyColor;
        color: $white;
    }
}

// mixin
@mixin titulos($color,$size,$aling,$margin){
    color: $color;
    font-size: $size;
    text-align: $aling;
    margin-bottom: $margin;
}

h1{
    @include titulos($white, 30px, center, 40px)
}

h3{
    @include titulos($white, 30px, center, 70px)
}
